@import "../base.scss";
@import url(https://fonts.googleapis.com/css?family=Lato);

body {
  .todo-list {
    display: flex;
    flex-direction: column;;
    padding: 0 75px 10px 30px;
    background: #162740;
    border: transparent;

    &__title {
      padding: 3px 6px;
      color: #f1faee;
      background-color: #264456;
    }
    &__label {
      display: flex;
      align-items: center;
      margin: 20px 0;
      font-size: 22px;
      font-family: Lato, sans-serif;
      color: #f1faee;
      cursor: pointer;
    }

    input[type="checkbox"] {
      // opacity: 0;
      appearance: none; // 允许您使元素看上去像标准的用户界面元素。
      // -webkit-appearance: window;
      & + .check {
        position: absolute;
        width: 22px;
        height: 22px;
        border: 2px solid #f1faee;
        transition: .2s;
      }
      &:checked + .check {
        position: absolute;
        width: 25px;
        height: 15px;
        border-top: transparent;
        border-right: transparent;
        transform: rotate(-45deg);
      }
      & ~ span {
        position: relative;
        left: 40px;
        white-space: nowrap;
        transition: .5s;

        &::before {
          position: absolute;
          content: '';
          top: 50%;
          left: 0;
          width: 100%;
          height: 1px;
          background: #f1faee;
          transform: scaleX(0);
          transform-origin: right;
          transition: transform .5s;
        }
      }

      &:checked ~ span {
        color: #585b57;

        &::before {
          transform: scaleX(1);
          transform-origin: left;
        }
      }
    }
  }
}
